.Login_container {
    background-image: url("../../assets/images/BackgroundImage.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
}

.Login_component_wrapper {
    margin: 30px;
}

.Login_component_container {
    opacity: 0.4;
    width: 500px;
    background-color: rgb(84 187 208);;
    border-radius: 20px;
}