.PaymentPopUp {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  /* width: 300px; */
}

.Payment_popup_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 450px;
  overflow-y: scroll;
}

.Settle_up_list_wrapper {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.Settle_up_list_user_wrapper {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(254, 189, 69);
  color: white;
  border-radius: 5px;
  height: 38px;
}

.SettleUp_heading {
  color: var(--black);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SettleUp_users_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 450px;
  overflow-y: scroll;
}

.SettleUp_Filter_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Credit_debit_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid orange;
  background-color: white;
  color: orange;
  flex: 1;
}

.Div_highlight {
  background-color: orange;
  color: white;
}
