.PaymentPopUp {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 480px;
  /* width: 300px; */
}

/* .Is_credit_popup {
  height: 460px
} */

.Payment_popup_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 450px;
  overflow-y: scroll;
}

.Settle_up_list_wrapper {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.Settle_up_list_user_wrapper {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(241 241 241);
  color: black;
  border-radius: 5px;
  height: 38px;
}

.SettleUp_heading {
  color: var(--black);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SettleUp_users_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}

.SettleUp_Filter_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Credit_debit_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #0D6EFD;
  background-color: white;
  color: #0D6EFD;
  flex: 1;
}

.Div_highlight {
  background-color: #0D6EFD;
  color: white;
}