* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #fed94d;
  --secondary: #fab41b;
  --link: #779341;
  --background: #f5f5f5;
  --button: #fff;
  --gray: lightgray;
  --lightgray: #eaebec;
  --black: #000;
  --text: black;
  --error: red;
  --disabled: gray;
  --placeholder: lightgray;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

.Flex {
  display: flex;
}

.Justify-content-center {
  justify-content: center;
}

.Align-items-center {
  align-items: center;
}

.Flex-direction-column {
  flex-direction: column;
}

.Flex-1 {
  flex: 1;
}

.Full_width {
  width: 100%;
}

.Full_height {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

.main_background {
  /* background-image: url("../assets/images/BackgroundImage.jpg"); */
  /* background-size: cover;
  background-position: center; */
  background-color: #e0e0e0;
  flex: 1;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
