.Home_row_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  justify-items: center;
  margin: 18px;
}

.Home_card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-height: 100px;
  width: 100%;
  max-width: 250px;
  position: relative;
  padding: 18px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.Home_card_title {
  margin-bottom: 8px;
}

.Home_card_value {
  text-align: end;
}

.Home_card_1 {
  background-image: url("../../assets/images/Card2.jpg");
}

.Home_card_2 {
  background-image: url("../../assets/images/Card3.jpg");
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Home_card_3 {
  background-image: url("../../assets/images/Card2.jpg");
}

.Home_row_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-items: center;
}

@media (max-width: 800px) {
  .Home_row_1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .Home_row_2 {
    grid-template-columns: 1fr;
  }
}

.Home_table_wrapper {
  flex: 1;
  width: 100%;
  padding: 18px;
}

.Home_chart_wrapper {
  flex: 1;
  width: 100%;
  padding: 18px;
}

.Home_chart_content {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
