.Home_row_1 {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 16px;
  justify-items: center; */
  margin: 18px;
}

.Home_card {
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 8px;
  min-height: 100px;
  width: 250px;
  height: 100%;
  max-width: 250px;
  position: relative;
  padding: 18px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  box-shadow: 0 0px 10px 5px rgb(29 26 109 / 20%);
}

.Home_card_title {
  margin-bottom: 8px;
}

.Home_card_value {
  text-align: end;
}

.Home_card_2 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.Home_row_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-items: center;
  padding: 18px;
}

@media (max-width: 800px) {
  .Home_row_1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .Home_row_2 {
    grid-template-columns: 1fr;
  }
}

.Home_table_wrapper {
  flex: 1;
  width: 100%;
  max-height: 400px;
  border-radius: 8px;
}

.Home_table_wrapper .MuiPaper-root {
  max-height: 400px;
}

.Home_table_wrapper::-webkit-scrollbar {
  width: 0;
}

.Home_chart_wrapper {
  flex: 1;
  width: 100%;
}

.Home_chart_content {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 18px;
  height: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_nav_wrapper {
  display: flex;
  justify-content: space-between;
}

.Home_show {
  display: flex;
  gap: 30px;
}

.Book_now_button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Home_chart_content canvas {
  width: 100% !important;
}
