.CheckAvailability_heading {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: rgb(28, 32, 37);
  padding-bottom: 12px;
}

.CheckAvailability_option {
  padding: 8px;
  border: 2px solid orange;
  border-radius: 8px;
  color: orange;
  cursor: pointer;
}

.CheckAvailability_option_selected {
  background-color: orange;
  color: white;
}

.CheckAvailability_option_wrapper {
  display: flex;
  gap: 18px;
  padding-bottom: 18px;
}

.CheckAvailability_label {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}

.CheckAvailability_field_wrapper {
  margin-bottom: 18px;
}

.CheckAvailability_date_time_wrapper {
  display: flex;
  gap: 12px;
}

.CheckAvailability_button_wrapper {
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.CheckAvailability_button {
  border-radius: 8px;
  color: white;
  background-color: orange;
  padding: 16px 32px;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}

.CheckAvailability_wrapper .invalid-feedback {
  font-size: 0.8em;
}
