.SignUp_container {
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: relative;
  margin-top: 0 !important;
  background-blend-mode: soft-light !important;
}

.SignUp_card {
  padding: 44px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 118px;
  min-width: 540px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.75);
  max-height: 80vh;
  overflow-y: scroll;
  background: #7b9bd7;
  background-image: linear-gradient(to right, #7b9bd7, #ffffff);
  box-shadow: 0 0px 10px 12px rgb(29 26 109 / 20%);
}

.SignUp_card::-webkit-scrollbar-thumb {
  display: none;
}

.SignUp_sign_up {
  cursor: pointer;
  top: 50px;
  right: 44px;
  position: absolute;
  color: #0b5ed7;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SignUp_welcome_title {
  color: #000;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SignUp_welcome_title_green {
  color: #0b5ed7;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SignUp_sign_in {
  color: #000;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.SignUp_field {
  margin-bottom: 20px;
}

.SignUp_label {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.SignUp_input {
  border-radius: 9px;
  border: 1px solid #4285f4;
  background: #fff;
  padding: 19px 25px;
  width: 100%;
  background-color: #d7dffc;
}

.SignUp_input::placeholder {
  color: #808080;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.SignUp_forgot_password {
  margin-top: 12px;
  color: #4285f4;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: right;
  margin-bottom: 44px;
}

.SignUp_button_wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.SignUp_button {
  cursor: pointer;
  border-radius: 10px;
  background: #0d6efd;
  box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.3);
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-height: 54px;
  min-width: 236px;
  outline: none;
  border: none;
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-hover-border-color);
}

body .invalid-feedback {
  display: inline-block;
}

.Park_background {
  height: calc(100vh - 100px);
  min-width: 540px;
  margin: 50px;
  border-radius: 50px;
}

.Sign_up_paragraph {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .SignUp_card {
    right: 50%;
    transform: translate(50%, -50%);
    width: 80%;
    max-width: 540px;
    min-width: 0;
  }
}

@media (max-width: 550px) {
  .SignUp_card {
    width: 95%;
    padding: 32px;
  }

  .SignUp_sign_up {
    position: relative;
    top: 0;
    right: 0;
    text-align: right;
    white-space: nowrap;
  }

  .SignUp_paragraph {
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 8px;
  }
}

.SignUp_upload {
  background-color: #d7dffc;
}
