.Not_found_container {
    background-image: url("../../assets/images/BackgroundImage.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    position: relative;
}

.Not_found_image {
    background-image: url("../../assets/images/NotFound.jpg");
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    opacity: 0.8;
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 50px;
}

.Not_found_navigate_button {
    cursor: pointer;
    border-radius: 10px;
    background: #779341;
    box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.3);
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-height: 54px;
    min-width: 236px;
    outline: none;
    border: none;
    margin: auto;
    display: block;
    margin-top: 80px;
  }